<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thoughtwork.comment">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!--支付宝支付权限 bq-->


  <!-- required = true 表示手机必须支持BLE，否则无法安装运行 -->
  <uses-feature
      android:name="android.hardware.bluetooth_le"
      android:required="false" />
  <!--        android:icon="@mipmap/img_logo"
          android:label="@string/app_name"-->

  <application
      android:name=".application.DeliveryApplication"
      android:allowBackup="true"
      android:icon="${app_icon}"
      android:label="${app_name}"
      android:maxAspectRatio="2.4"
      android:networkSecurityConfig="@xml/network_security_config"
      android:resizeableActivity="true"
      android:roundIcon="@mipmap/img_logo"
      android:requestLegacyExternalStorage="true"
      android:supportsRtl="true"
      tools:replace="android:label"
      android:theme="@style/AppTheme">
    <!--解决小米在28版本 以上机型出现ClassNotFoundException: Didn’t find class “org.apache.http.message.BasicNameValuePair”等问题-->
    <uses-library
        android:name="org.apache.http.legacy"
        android:required="false" />

    <activity android:name=".acitivity.WelComeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".acitivity.ThoughtWorkWeChatActivity"></activity>


    <provider
        android:authorities="${applicationId}.androidx-startup"
        android:name="androidx.startup.InitializationProvider"
        android:exported="false"
        tools:node="merge">
      <!--通常每一个初始化器对应一个<meta-data>标签，但是如果有些初始化器已经被一个已经注册的初始化器依赖(比如Sdk1Initializer已经被Sdk2Initializer依赖)，那么
可以不用在AndroidManifest.xml文件中显式地指明，因为App Startup已经通过
注册的Sdk2Initializer找到它了。-->

      <!--这里的<meta-data>标签的value属性必须指定为字符串androidx_startup的值，
      也就是("androidx.startup")，否则将不生效。-->
      <!--通过tools:node="remove"来标记该初始化器。这样会在AndroidManifest.xml文件合并时将这个<meta-data>移除掉，
      否则该初始化器仍会在Application中被初始化并标记为已经初始化，后面的懒加载将不执行任何初始化操作，相当于使懒加载失效了。-->
      <!-- <meta-data
           android:name="com.yto.comment.application.CCInitializer"
           android:value="@string/androidx_startup"
           />-->
      <meta-data
          android:name="com.thoughtwork.comment.application.CrashHandlerInitializer"
          android:value="@string/androidx_startup"
          />
      <meta-data
          android:name="com.thoughtwork.comment.application.LoadSirInitializer"
          android:value="@string/androidx_startup"
          />
      <meta-data
          android:name="com.thoughtwork.comment.application.PreferencesUtilInitializer"
          android:value="@string/androidx_startup"
          />
      <meta-data
          android:name="com.thoughtwork.comment.application.SPUtilsInitializer"
          android:value="@string/androidx_startup"
          />
    </provider>
  </application>
</manifest>
